body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

// Hamburger Menu
.burgerMenu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  min-height: 35px;
  width: 3rem;
  z-index: 3;
  cursor: pointer;

  .line{
    width: 30px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @media only screen and (max-width: 700px) {
    display: block;
  }
}

#burgerMenu.is-active .line:nth-child(2){
  opacity: 0;
}

#burgerMenu.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#burgerMenu.is-active .line:nth-child(3){
  -webkit-transform: translateY(-3px) rotate(-45deg);
  -ms-transform: translateY(-3px) rotate(-45deg);
  -o-transform: translateY(-3px) rotate(-45deg);
  transform: translateY(-3px) rotate(-45deg);
}

.main__content {
  margin-top: 4rem;
  margin-bottom: 4rem;
  min-height: 70vh;
}

header .module-container {
  padding: 1rem;
}

header {
  z-index: 1;

  & + div {
    position: relative;
    z-index: 1;
  }
}

.module-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main__content > .module-container {
  max-width: 1240px;
  padding: 0 2rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
}

.page__title {
  margin-bottom: 2rem;
}

.slider {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;

  .carousel-item {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #00000054;
      z-index: 1;
    }
  }

  [class^='carousel-control-'],
  .carousel-caption, 
  .carousel-indicators { 
    opacity: 1;
    z-index: 2;

    button {
      z-index: 4;
    }
  }

  .carousel-item {
    max-height: 700px;
  }
}

@media only screen and (max-width: 920px) {
  .list { 
    grid-template-columns: auto;
  }
}
