.hike {
    cursor: pointer;
    text-align: left;
    box-shadow: 0 1px 3px rgba(2, 51, 54, 1), 0 1px 2px rgba(2, 51, 54, 1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #fff;

    &:hover {
        box-shadow: 0 5px 8px rgba(12, 107, 112, 1), 0 5px 8px rgba(12, 107, 112, 1);
    }
}

.hike__content {
    padding: 1rem;
}

.hike__excerpt {
    margin-bottom: 1rem;
}

.hike__button {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: all 500ms ease;
    cursor: pointer;
    margin-bottom: 1.5rem;
    color: #03c988;
    font-weight: 600;
    border-radius: 1rem;
    border: 0.2rem solid #03c988;
    margin-right: 1.5rem;

    &:hover {
        animation: slideUp 500ms ease forwards;
        color: #191825;
        background: linear-gradient(to left, #03c988 50%, #2e3840 50%);
        background-position: 100%;
        background-size: 200% 100%;
    }
}